name: Lint Moonworm

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: pip install -U pip
      - name: Install dev dependencies
        run: pip install -e .[dev]
      - name: Mypy type check
        run: mypy moonworm/
      - name: Isort imports check
        run: isort --check moonworm/
      - name: Black syntax check
        run: black --check moonworm/

